<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muqi.backendsl.mapper.UserCourseMapper">

    <resultMap id="BaseResultMap" type="com.muqi.backendsl.entity.UserCourse">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userID" column="userID" jdbcType="INTEGER"/>
            <result property="courseID" column="courseID" jdbcType="INTEGER"/>
            <result property="clicks" column="clicks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userID,courseID,
        clicks
    </sql>
    <select id="getMaximumCourseIDByClick" resultType="java.lang.Integer">
        SELECT courseID
        FROM t_user_course
        WHERE userID = #{userID}
        ORDER BY clicks DESC
            LIMIT 1;
    </select>

</mapper>
